body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: rgb(233, 233, 233);
}

header {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: white;
    width: 100%;
    position: fixed;

}

.header-logo{
    display: flex;
    align-items: center;
    gap: 40px;
}

.img-logo img {
    width: 100px;
    height: 105px;
    border-radius: 50%;
    border: 1px solid grey;
}

.header-logo span{
    font-weight: bold;
    text-transform: uppercase;
}

nav ul {
display: flex;
list-style-type: none;
gap: 50px;
}

li a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

li a:hover{
    color: blueviolet;
    letter-spacing: 1em;
}

section {
    padding: 40px 40px;
}

.heading{
    text-align: center;
    text-transform: uppercase;
} 
section hr {
    width: 5%;
    background-color: blueviolet;
    height: 5px;
    border-radius: 5px;
}
#acceuil {
    text-align: center;
    padding: 50px;
    padding-top: 150px;
}

#a-propos p {
    /*text-align:center;*/
}

.content {
    display: flex;
    gap: 40px;
    margin-bottom: 3%;
}

.content p{
text-align: justify;
}
.content-left{
    max-width: 50%;
}

.content-left img {
width: 400px;
height: 400px;
border-radius: 5px;
}

.divlien a{
    padding: 15px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    background-color: blueviolet;
    border-radius: 10px;
    margin-top: 2%;
}

.content-competence {
    display: flex;
    flex-wrap: wrap;
}

.content-competence span{
    background-color: rgb(219, 215, 215);
    padding: 10px;
    border-radius: 10px;
    margin: 2%;
    gap: 40px;

}
